# GCP Cloud Storage
GCP_BUCKET_NAME=your-gcs-bucket-name
GCP_OBJECT_NAME=tracking.csv
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/gcp-key/gcs-reader-key.json

# Kafka
KAFKA_BOOTSTRAP_SERVERS=rr-kafka:29092
KAFKA_TOPIC=tracking-events

# MySQL
MYSQL_HOST=rr-mysql
MYSQL_PORT=3306
MYSQL_DATABASE=etl_dw
MYSQL_USER=etl_user
MYSQL_PASSWORD=etl_password

# Cassandra
CASSANDRA_HOST=rr-cassandra
CASSANDRA_PORT=9042
CASSANDRA_KEYSPACE=logs
CASSANDRA_TABLE=tracking_raw